body {
    overflow: hidden;
    /* Hide scrollbars */
}

img {
    max-width: 100%;
}

.gallery_box li {
    width: 33.333333%;
    max-width: 100%;
    display: inline-block;
    float: left;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.gallery_box {
    padding: 0;
    display: flow-root;
    height: 100vh;
}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery_box li img {
    -webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

.gallery_box li:nth-child(even) {
    height: 50vh;
}

.gallery_box li:nth-child(odd) {
    height: 50vh;
}

.gallery_box li:nth-child(odd) .box_data {
    background: rgba(0, 0, 0, 0.17)
}

.gallery_box li:nth-child(even) .box_data {
    background: rgba(8,217,214, 0.27)
    
}

.gallery_box .box_data {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
}

.gallery_box .box_data span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    font-size: 24px;
}

.gallery_box li:hover .box_data {
    background: rgba(255,46,99, 0.55)
}

.height-top {
    position: relative !important;
    top: -134px;
    height: 66.4vh !important;
}

.short-height{
    height: 35.8vh !important;
}